<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Desarrollado por IT Corporation
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="https://shopy21.com">IT Corporation</a>.</strong> Todos los derechos reservados.
</footer>