<div id="left-sidebar" class="sidebar">
    <div class="navbar-brand">
        {{!-- <a href="index.html"><img src="assets/images/icon.svg" alt="Oculux Logo"
                class="img-fluid logo"><span>Cellular Planet</span></a> --}}
                <span>Cellular Planet</span>
        <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right">
            <i class="lnr lnr-menu icon-close"></i></button>
    </div>
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="user_div">
                <img src="assets/images/logo-mini.png" class="user-photo" alt="User Profile Picture">
            </div>
            <div class="dropdown">
                <span>Bienvenido,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Mayorista Sucursal</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                    <li><a href="page-login.html"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="header">Main</li>
                {{#if dashboard}}
                <li class="active open"><a href="tablero-mayorista-secundario"><i class="icon-speedometer"></i><span>Dashboard</span></a>
                </li>
                {{else}}
                <li class="active open"><a href="tablero-mayorista-secundario"><i class="icon-speedometer"></i><span>Dashboard</span></a>
                </li>
                {{/if}}

                {{#if usuarios}}
                <li>
                    <a href="#" class="has-arrow"><i class="fa fa-users"></i><span>Usuarios</span></a>
                    <ul>
                    {{#if distribuidores}}    
                        <li class="active"><a href="usuarios-distribuidor-por-mayorista-secundario">Distribuidores</a></li>
                    {{else}}
                        <li><a href="usuarios-distribuidor-por-mayorista-secundario">Distribuidores</a></li>
                    {{/if}}
                    </ul>
                </li>
                {{else}}
                <li>
                    <a href="#" class="has-arrow"><i class="fa fa-users"></i><span>Usuarios</span></a>
                    <ul>
                    {{#if distribuidores}}    
                        <li class="active"><a href="usuarios-distribuidor-por-mayorista-secundario">Distribuidores</a></li>
                    {{else}}
                        <li><a href="usuarios-distribuidor-por-mayorista-secundario">Distribuidores</a></li>
                    {{/if}}
                    </ul>
                </li>
                {{/if}}
                {{#if asignacion}}
                <li>
                    <a href="#" class="has-arrow"><i class="fa fa-mobile"></i><span>Asignación de ICCs</span></a>
                    <ul>
                    {{#if distribuidores2}}
                        <li class="active"><a href="asignacion-a-usuario-distribuidor-ms">Distribuidores</a></li>
                    {{else}}
                        <li><a href="asignacion-a-usuario-distribuidor-ms">Distribuidores</a></li>
                    {{/if}}
                    </ul>
                </li>
                {{else}}
                <li>
                    <a href="#" class="has-arrow"><i class="fa fa-mobile"></i><span>Asignación de ICCs</span></a>
                    <ul>
                    {{#if distribuidores2}}
                        <li class="active"><a href="asignacion-a-usuario-distribuidor-ms">Distribuidores</a></li>
                    {{else}}
                        <li><a href="asignacion-a-usuario-distribuidor-ms">Distribuidores</a></li>
                    {{/if}}
                    </ul>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
</div>