<div id="left-sidebar" class="sidebar">
    <div class="navbar-brand">
        <a href="index.html"><img src="assets/images/icon.svg" alt="Oculux Logo"
                class="img-fluid logo"><span>Cellular Planet</span></a>
        <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                class="lnr lnr-menu icon-close"></i></button>
    </div>
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="user_div">
                <img src="assets/images/user.png" class="user-photo" alt="User Profile Picture">
            </div>
            <div class="dropdown">
                <span>Bienvenido,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Nombre de
                        usuario</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                    <li><a href="page-login.html"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="header">Main</li>
                <li class="active open"><a href="index2.html"><i class="icon-speedometer"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="#uiIcons" class="has-arrow"><i class="fa fa-users"></i><span>Usuarios</span></a>
                    <ul>
                        <li><a href="ui-icons.html">Mayoristas (Sucursales)</a></li>
                        <li><a href="ui-icons-line.html">Distribuidores</a></li>
                        <li><a href="ui-icons-themify.html">Vendedores</a></li>
                    </ul>
                </li>
                <li><a href="hrms/index.html"><i class="fa fa-check-circle"></i><span>Verificacion de ICCs</span></a>
                </li>
                <li><a href="jobportal/index.html"><i class="icon-badge"></i><span>Redención de puntos</span></a></li>
            </ul>
        </nav>
    </div>
</div>