<!doctype html>
<html lang="en">

<head>
    <title>Cellular Planet | Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    {{!-- <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/animate-css/vivify.min.css">

    <link rel="stylesheet" href="../assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet"
        href="../assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet"
        href="../assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/vendor/sweetalert/sweetalert.css" /> --}}


    <!-- Prueba -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/animate-css/vivify.min.css">

    <link rel="stylesheet" href="../assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="../assets/vendor/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="../assets/vendor/nouislider/nouislider.min.css">



    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/site.min.css">

    <style>
        td.details-control {
            background: url('../assets/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../assets/images/details_close.png') no-repeat center center;
        }
    </style>




    {{!-- ESTILOS DE SELECT --}}

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/animate-css/vivify.min.css">

    <link rel="stylesheet" href="../assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="../assets/vendor/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="../assets/vendor/nouislider/nouislider.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/site.min.css">
    <!-- Demo CSS not Include in project -->
    <style>
        .demo-card label {
            display: block;
            position: relative;
        }

        .demo-card .col-lg-4 {
            margin-bottom: 30px;
        }
    </style>







</head>

<body class="theme-cyan font-montserrat">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
        </div>
    </div>

    <!-- Theme Setting -->
    <div class="themesetting">
        <a href="javascript:void(0);" class="theme_btn"><i class="icon-magic-wand"></i></a>
        <div class="card theme_color">
            <div class="header">
                <h2>Theme Color</h2>
            </div>
            <ul class="choose-skin list-unstyled mb-0">
                <li data-theme="green">
                    <div class="green"></div>
                </li>
                <li data-theme="orange">
                    <div class="orange"></div>
                </li>
                <li data-theme="blush">
                    <div class="blush"></div>
                </li>
                <li data-theme="cyan" class="active">
                    <div class="cyan"></div>
                </li>
                <li data-theme="indigo">
                    <div class="indigo"></div>
                </li>
                <li data-theme="red">
                    <div class="red"></div>
                </li>
            </ul>
        </div>
        <div class="card font_setting">
            <div class="header">
                <h2>Font Settings</h2>
            </div>
            <div>
                <div class="fancy-radio mb-2">
                    <label><input name="font" value="font-krub" type="radio"><span><i></i>Krub Google
                            font</span></label>
                </div>
                <div class="fancy-radio mb-2">
                    <label><input name="font" value="font-montserrat" type="radio" checked><span><i></i>Montserrat
                            Google font</span></label>
                </div>
                <div class="fancy-radio">
                    <label><input name="font" value="font-roboto" type="radio"><span><i></i>Robot Google
                            font</span></label>
                </div>
            </div>
        </div>
        <div class="card setting_switch">
            <div class="header">
                <h2>Settings</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Light Version
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="lv-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    RTL Version
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="rtl-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    Horizontal Henu
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="hmenu-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    Mini Sidebar
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="mini-sidebar-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="form-group">
                <label class="d-block">Traffic this Month <span class="float-right">77%</span></label>
                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="77"
                        aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="d-block">Server Load <span class="float-right">50%</span></label>
                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">
        {{>navbar}}

        {{>leftsidebarMayoristaPrincipal2 asignacion=true asignaciones=true sucursales2 = true}}

        <div id="main-content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-md-9 col-sm-12">
                            <h1>Asignación a Mayoristas (sucursal)</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="tablero-mayorista-principal">Home</a></li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-3 col-sm-12 text-right hidden-xs">
                            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-default">
                            {{!-- <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default"> --}}
                                <i class="fa fa-user"></i> Asignar a Mayorista(sucursal)
                            </a>
                            {{!-- <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a> --}}
                        </div>

                        <div class="container-fluid">
                            {{#if messageError}}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                                <h5><i class="fa fa-info-circle"></i> Información</h5>
                                {{messageError}}
                            </div>
                            {{/if}}
                            {{#if messageSuccess}}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                                <h5><i class="fa fa-info-circle"></i> Información</h5>
                                {{messageSuccess}}
                            </div>
                            {{/if}}
                        </div>

                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>Listado de Asignaciones a Mayoristas (sucursales)</h2>
                                <br>
                                <ul class="header-dropdown dropdown">

                                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a>
                                    </li>
                                    {{!-- <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true" aria-expanded="false"></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another Action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li> --}}
                                </ul>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover dataTable js-exportable">
                                        <thead>
                                            <tr>
                                            <tr>
                                                <th>ICC</th>
                                                <th>Asignado a </A></th>
                                                <th>Correo</th>
                                                <th>Estatus</th>
                                            </tr>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ICC</th>
                                                <th>Asignado a </A></th>
                                                <th>Correo</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each iccs}}
                                            <tr>
                                                <td>{{this.ICC}}</td>
                                                <td>{{this.secondaryWholesaler.name}} {{this.secondaryWholesaler.lastname}} </td>
                                                <td>{{this.secondaryWholesaler.email}}</td>
                                                <td>{{ICCStatus}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Asignar a Mayorista (sucursal)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="assign-secondary-wholesaler" method="POST">
                        <div class="card-body">
                            {{!-- <div class="form-group">
                                <label for="exampleInputEmail1">Nombre</label>
                                <input type="text" class="form-control" id="nameMayorista" name="name2" required
                                    placeholder="Ingrese el nombre">
                            </div> --}}
                            <!-- Multi Select -->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mayorista</label>
                                {{!-todos los mayoristas secundarios creados por x mayorista principal}}
                                <div class="multiselect_div">
                                    <select id="multiselect4-filter" name="secondaryWholesaler"
                                        class="multiselect multiselect-custom">
                                        {{#each sucursales2}}
                                        <option value={{_id}}>{{name}}  {{lastname}}  ({{email}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="row clearfix" hidden>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="card">
                                            <div class="header">
                                                <h2>Input Slider <small>Taken from <a
                                                            href="http://refreshless.com/nouislider"
                                                            target="_blank">refreshless.com/nouislider</a> & <a
                                                            href="http://materializecss.com"
                                                            target="_blank">materializecss.com</a></small></h2>
                                                <ul class="header-dropdown dropdown">

                                                    <li><a href="javascript:void(0);" class="full-screen"><i
                                                                class="icon-frame"></i></a></li>
                                                    <li class="dropdown">
                                                        <a href="javascript:void(0);" class="dropdown-toggle"
                                                            data-toggle="dropdown" role="button" aria-haspopup="true"
                                                            aria-expanded="false"></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="javascript:void(0);">Action</a></li>
                                                            <li><a href="javascript:void(0);">Another Action</a>
                                                            </li>
                                                            <li><a href="javascript:void(0);">Something else</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="body">
                                                <div class="row clearfix">
                                                    <div class="col-lg-6 col-md-12">
                                                        <p><b>Basic Example</b></p>
                                                        <div id="nouislider_basic_example"></div>
                                                        <div class="m-t-20 font-12"><b>Value: </b><span
                                                                class="js-nouislider-value"></span></div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-12">
                                                        <p><b>Range Example</b></p>
                                                        <div id="nouislider_range_example"></div>
                                                        <div class="m-t-20 font-12"><b>Value: </b><span
                                                                class="js-nouislider-value"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- fin select -->
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">ICC</label>
                                <input type="text" class="form-control" id="iccNumber" name="ICC" required
                                    placeholder="Ingrese el número del ICC">
                            </div>
                        </div>
                        <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Realizar Asignacion</button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->

    </div>

    <!-- /.modal -->
    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar esta asignacion del Mayorista (sucursal)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="delete-assignment-user-web" method="POST">
                        <div class="card-body">
                            <p>¿Estas seguro de que desear eliminar esta
                                asignación de MAyorista(sucursal) <strong class="name-delete"></strong>?
                            </p>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" id="deleteWholesalerId" value="">
                            </div>
                        </div>
                        <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar mayorista</button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Mayorista sucursal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="update-distributor-web" method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre</label>
                                <input type="text" class="form-control" id="nameMayoristaEdit" name="name2" required
                                    placeholder="Ingrese el nombre">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Apellido</label>
                                <input type="text" class="form-control" id="lastnameMayoristaEdit" name="lastname2"
                                    required placeholder="Ingrese el apellido">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Telefono</label>
                                <input type="text" class="form-control" id="phoneMayoristaEdit" name="phone" required
                                    placeholder="Ingrese el telefono">
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" id="idMayoristaEdit" value="">
                            </div>
                        </div>
                        <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar distribuidor</button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    </div>

    <!-- Javascript -->
    {{!-- <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script>

    <script src="assets/bundles/datatablescripts.bundle.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="../assets/vendor/sweetalert/sweetalert.min.js"></script><!-- SweetAlert Plugin Js -->
    <script src="assets/bundles/mainscripts.bundle.js"></script>
    <script src="assets/js/pages/tables/jquery-datatable.js"></script> --}}

    


    {{!-- Prueba --}}
    <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script>

    <script src="../assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <!-- Bootstrap Colorpicker Js -->
    <script src="../assets/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script><!-- Input Mask Plugin Js -->
    <script src="../assets/vendor/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="../assets/vendor/multi-select/js/jquery.multi-select.js"></script><!-- Multi Select Plugin Js -->
    <script src="../assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="../assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="../assets/vendor/nouislider/nouislider.js"></script><!-- noUISlider Plugin Js -->
    <script src="assets/bundles/mainscripts.bundle.js"></script>
    <script src="assets/js/pages/forms/advanced-form-elements.js"></script>






    <script type="text/javascript">
        $(document).on("click", ".open-delete-wholesaler", function () {
            const wholesalerId = $(this).data('id');
            $(".modal-body #deleteWholesalerId").val(wholesalerId);
        });
    </script>

    <script type="text/javascript">
        $(document).on("click", ".open-edit-wholesaler", function () {
            const wholesalerId = $(this).data('id');
            const nameWholesalerId = $(this).data('name2');
            const lastnameWholesalerId = $(this).data('lastname2');
            const phoneWholesalerId = $(this).data('phone');
            $(".modal-body #nameMayoristaEdit").val(nameWholesalerId);
            $(".modal-body #lastnameMayoristaEdit").val(lastnameWholesalerId);
            $(".modal-body #phoneMayoristaEdit").val(phoneWholesalerId);
            $(".modal-body #idMayoristaEdit").val(wholesalerId);
            console.log(wholesalerId);
            console.log(nameWholesalerId);

        });
    </script>

</body>

</html>