<!doctype html>
<html lang="en">

<head>
    <title>Cellular Planet | Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description"
        content="Oculux Bootstrap 4x admin is super flexible, powerful, clean &amp; modern responsive admin dashboard with unlimited possibilities.">
    <meta name="keywords"
        content="admin template, Oculux admin template, dashboard template, flat admin template, responsive admin template, web app, Light Dark version">
    <meta name="author" content="GetBootstrap, design by: puffintheme.com">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/animate-css/vivify.min.css">

    <link rel="stylesheet" href="assets/vendor/c3/c3.min.css" />
    <link rel="stylesheet" href="assets/vendor/chartist/css/chartist.css">
    <link rel="stylesheet" href="assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="assets/vendor/toastr/toastr.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/site.min.css">

</head>

<body class="theme-cyan font-montserrat">
    {{>navbar}}
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
        </div>
    </div>

    <!-- Theme Setting -->
    <div class="themesetting">
        <a href="javascript:void(0);" class="theme_btn"><i class="icon-magic-wand"></i></a>
        <div class="card theme_color">
            <div class="header">
                <h2>Theme Color</h2>
            </div>
            <ul class="choose-skin list-unstyled mb-0">
                <li data-theme="green">
                    <div class="green"></div>
                </li>
                <li data-theme="orange">
                    <div class="orange"></div>
                </li>
                <li data-theme="blush">
                    <div class="blush"></div>
                </li>
                <li data-theme="cyan" class="active">
                    <div class="cyan"></div>
                </li>
                <li data-theme="indigo">
                    <div class="indigo"></div>
                </li>
                <li data-theme="red">
                    <div class="red"></div>
                </li>
            </ul>
        </div>
        <div class="card font_setting">
            <div class="header">
                <h2>Font Settings</h2>
            </div>
            <div>
                <div class="fancy-radio mb-2">
                    <label><input name="font" value="font-krub" type="radio"><span><i></i>Krub Google
                            font</span></label>
                </div>
                <div class="fancy-radio mb-2">
                    <label><input name="font" value="font-montserrat" type="radio" checked><span><i></i>Montserrat
                            Google font</span></label>
                </div>
                <div class="fancy-radio">
                    <label><input name="font" value="font-roboto" type="radio"><span><i></i>Robot Google
                            font</span></label>
                </div>
            </div>
        </div>
        <div class="card setting_switch">
            <div class="header">
                <h2>Settings</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Light Version
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="lv-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    RTL Version
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="rtl-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    Horizontal Henu
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="hmenu-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    Mini Sidebar
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="mini-sidebar-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="form-group">
                <label class="d-block">Traffic this Month <span class="float-right">77%</span></label>
                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="77"
                        aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="d-block">Server Load <span class="float-right">50%</span></label>
                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">
        {{!-- {{>navbar}} --}}
        {{!-- {{>sidebarmenu}} --}}
        {{>leftsidebarMayoristaSecundario2 dashboard=true}}
        <div id="main-content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-12">
                            <h1>Dashboard</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="tablero-mayorista-secundario">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3">
                                <div class="card-wrapper flip-left">
                                    <div class="card s-widget-top">
                                        <div class="front p-3 px-4 bg-warning text-light">
                                            <div>ICCs inactivos</div>
                                            <div class="py-4 m-0 text-center h2">{{inactivosMSAll}}</div>
                                            <div class="d-flex">
                                                <small>Porcentaje</small>
                                                <div class="ml-auto"></i>{{inactivosMSAllP}}%</div>
                                            </div>
                                        </div>
                                        <div class="back p-3 px-4 text-center">
                                            <p>La cantidad de ICCs inactivos correspondientes a tu usuario es:</p>
                                            <p>{{inactivosMSAllP}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="card-wrapper flip-left">
                                    <div class="card s-widget-top">
                                        <div class="front p-3 px-4 bg-info text-light">
                                            <div>ICCs activos</div>
                                            <div class="py-4 m-0 text-center h2">{{activosMSAll}}</div>
                                            <div class="d-flex">
                                                <small>Porcentaje</small>
                                                <div class="ml-auto"></i>{{activosMSAllP}}%</div>
                                            </div>
                                        </div>
                                        <div class="back p-3 px-4 text-center">
                                            <p>La cantidad de ICCs activos correspondientes a tu usuario es:</p>
                                            <p>{{activosMSAll}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="card-wrapper flip-left">
                                    <div class="card s-widget-top">
                                        <div class="front p-3 px-4 bg-danger text-light">
                                            <div>ICCs portados</div>
                                            <div class="py-4 m-0 text-center h2">{{portadosMSAll}}</div>
                                            <div class="d-flex">
                                                <small>Porcentaje</small>
                                                <div class="ml-auto"></i>{{portadosMSAllP}}%</div>
                                            </div>
                                        </div>
                                        <div class="back p-3 px-4 text-center">
                                            <p>La cantidad de ICCs portados correspondientes a tu usuario es:</p>
                                            <p>{{portadosMSAll}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="card-wrapper flip-left">
                                    <div class="card s-widget-top">
                                        <div class="front p-3 px-4">
                                            <div>Total de ICCs</div>
                                            <div class="py-4 m-0 text-center h2 text-success">{{total}}</div>
                                            <div class="d-flex">
                                                <small class="text-muted">Porcentaje
                                                </small>
                                                <div class="ml-auto"></i>{{total}}%</div>
                                            </div>
                                        </div>
                                        <div class="back p-3 px-4 bg-success text-center">
                                            <p class="text-light">La cantidad total de ICCs correspondientes a tu usuario es:</p>
                                            <p>{{total}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Javascript -->
    <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script>

    <script src="assets/bundles/c3.bundle.js"></script>
    <script src="assets/bundles/chartist.bundle.js"></script>
    <script src="assets/bundles/knob.bundle.js"></script>
    <script src="assets/vendor/toastr/toastr.min.js"></script>

    <script src="assets/bundles/mainscripts.bundle.js"></script>
    <script src="assets/js/index2.js"></script>
</body>

</html>