<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Cellular Planet | Tablero</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {{>navbar}}

        {{>leftsidebarMayoristaPrincipal usuarios=true mayoristas=true}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Usuarios Mayoristas (sucursales)</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Usuarios Mayoristas (sucursales)</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <div class="content">
                <div class="container-fluid">
                    {{#if messageError}}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-ban"></i> Información</h5>
                        {{messageError}}
                    </div>
                    {{/if}}
                    {{#if messageSuccess}}
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-info"></i> Información</h5>
                        {{messageSuccess}}
                    </div>
                    {{/if}}
                </div>
            </div>
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <!-- COLOR PALETTE -->
                    <div class="card card-default color-palette-box">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-cogs"></i>
                                Agregar usuarios
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <a class="btn btn-app" data-toggle="modal" data-target="#modal-default">
                                    <i class="fas fa-user-plus"></i> Agregar mayorista
                                </a>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lista de usuarios mayoristas</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Correo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each mayoristasSecundarios}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{lastname}}</td>
                                        <td>{{email}}</td>
                                        <td>
                                            <div class="btn-group-horizontal">
                                                <a class="btn btn-primary open-edit-wholesaler" data-toggle="modal"
                                                    data-target="#modal-edit" data-id="{{this._id}}"
                                                    data-name="{{this.name}}" data-lastname="{{this.lastname}}"
                                                    data-email="{{this.email}}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a class="btn btn-danger open-delete-wholesaler" data-toggle="modal"
                                                    data-target="#modal-delete" data-id="{{this._id}}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>

                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Correo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {{>rigthsidebar}}

        {{>footer}}
    </div>
    <!-- ./wrapper -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar un nuevo mayorista (sucursal)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="save-wholesaler-user-web" method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre</label>
                                <input type="text" class="form-control" id="nameMayorista" name="name" required
                                    placeholder="Ingrese el nombre">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Apellido</label>
                                <input type="text" class="form-control" id="lastnameMayorista" name="lastname" required
                                    placeholder="Ingrese el apellido">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Correo electrónico</label>
                                <input type="email" class="form-control" id="emailMayorista" name="email" required
                                    placeholder="Ingrese el correo electrónico">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" class="form-control" id="psswordMayorista" name="password"
                                    required placeholder="Ingrese la contraseña">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="psswordMayorista" name="ifPrincipal"
                                    value="false" hidden>
                            </div>
                        </div>
                        <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar mayorista</button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar mayorista (sucursal)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="delete-wholesaler-user-web" method="POST">
                        <div class="card-body">
                            <p>¿Estas seguro de que desear eliminar el
                                restaurante <strong class="name-delete"></strong>?
                            </p>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" id="deleteWholesalerId" value="">
                            </div>
                        </div>
                        <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar mayorista</button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar usuario mayorista (sucursal)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="update-wholesaler-user-web" method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre</label>
                                <input type="text" class="form-control" id="nameMayoristaEdit" name="name" required
                                    placeholder="Ingrese el nombre">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Apellido</label>
                                <input type="text" class="form-control" id="lastnameMayoristaEdit" name="lastname"
                                    required placeholder="Ingrese el apellido">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Correo electrónico</label>
                                <input type="email" class="form-control" id="emailMayoristaEdit" name="email" required
                                    placeholder="Ingrese el correo electrónico">
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" id="idMayoristaEdit" value="">
                            </div>
                        </div>
                        <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar mayorista</button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
    <script type="text/javascript">
        $(document).on("click", ".open-delete-wholesaler", function () {
            const wholesalerId = $(this).data('id');
            $(".modal-body #deleteWholesalerId").val(wholesalerId);
        });
    </script>
    <script type="text/javascript">
        $(document).on("click", ".open-edit-wholesaler", function () {
            const wholesalerId = $(this).data('id');
            const nameWholesalerId = $(this).data('name');
            const lastnameWholesalerId = $(this).data('lastname');
            const emailWholesalerId = $(this).data('email');
            $(".modal-body #nameMayoristaEdit").val(nameWholesalerId);
            $(".modal-body #lastnameMayoristaEdit").val(lastnameWholesalerId);
            $(".modal-body #emailMayoristaEdit").val(emailWholesalerId);
            $(".modal-body #idMayoristaEdit").val(wholesalerId);
        });
    </script>
</body>

</html>