<!doctype html>
<html lang="en">

<head>
    <title>Cellular Planet | Verificación de ICCS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/animate-css/vivify.min.css">

    <link rel="stylesheet" href="../assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet"
        href="../assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet"
        href="../assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/vendor/sweetalert/sweetalert.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/site.min.css">


    <style>
        td.details-control {
            background: url('../assets/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../assets/images/details_close.png') no-repeat center center;
        }
    </style>
</head>

<body class="theme-cyan font-montserrat">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
        </div>
    </div>
    {{!-- top:50%; left:50%; z-index:99 --}}
    {{!-- <div class="spinner-border" id="loader" role="status" style="position:absolute; width: 50%; height: 100%; z-index:99">
        <span class="sr-only">Loading...</span>
    </div> --}}

    <div id="fondo"
        style="position:absolute; width: 100%; height: 100%; z-index:50; background-color:rgba(0, 0, 0, 0.795);">
        <div class="spinner-border" id="loader" role="status" style="position:absolute; z-index:99; top:50%; left:50%">
            {{!-- <span>Loading...</span> --}}
        </div>
        <div id="mensaje" style="position:absolute; z-index:99; top:51%; left:53%">Procesando el archivo por favor
            espere...</div>
    </div>

    <!-- Theme Setting -->
    <div class="themesetting">
        <a href="javascript:void(0);" class="theme_btn"><i class="icon-magic-wand"></i></a>
        <div class="card theme_color">
            <div class="header">
                <h2>Theme Color</h2>
            </div>
            <ul class="choose-skin list-unstyled mb-0">
                <li data-theme="green">
                    <div class="green"></div>
                </li>
                <li data-theme="orange">
                    <div class="orange"></div>
                </li>
                <li data-theme="blush">
                    <div class="blush"></div>
                </li>
                <li data-theme="cyan" class="active">
                    <div class="cyan"></div>
                </li>
                <li data-theme="indigo">
                    <div class="indigo"></div>
                </li>
                <li data-theme="red">
                    <div class="red"></div>
                </li>
            </ul>
        </div>
        <div class="card font_setting">
            <div class="header">
                <h2>Font Settings</h2>
            </div>
            <div>
                <div class="fancy-radio mb-2">
                    <label><input name="font" value="font-krub" type="radio"><span><i></i>Krub Google
                            font</span></label>
                </div>
                <div class="fancy-radio mb-2">
                    <label><input name="font" value="font-montserrat" type="radio" checked><span><i></i>Montserrat
                            Google font</span></label>
                </div>
                <div class="fancy-radio">
                    <label><input name="font" value="font-roboto" type="radio"><span><i></i>Robot Google
                            font</span></label>
                </div>
            </div>
        </div>
        <div class="card setting_switch">
            <div class="header">
                <h2>Settings</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Light Version
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="lv-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    RTL Version
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="rtl-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    Horizontal Henu
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="hmenu-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    Mini Sidebar
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="mini-sidebar-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="form-group">
                <label class="d-block">Traffic this Month <span class="float-right">77%</span></label>
                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="77"
                        aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="d-block">Server Load <span class="float-right">50%</span></label>
                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">
        {{>navbar}}

        {{>leftsidebarMayoristaPrincipal2 verificacion=true}}

        <div id="main-content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-md-8 col-sm-12">
                            <h1>Verificación de ICCs</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="tablero-mayorista-principal">Home</a></li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-2 col-sm-12 text-right hidden-xs">
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modal-activas">
                                <i class="fa fa-user"></i> Verificar activas
                                {{!-- <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a> --}}
                        </div>

                        <div class="col-md-2 col-sm-12 text-right hidden-xs">
                            <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#modal-portadas">
                                <i class="fa fa-user"></i> Verificar portadas
                                {{!-- <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a> --}}
                        </div>


                        <div class="container-fluid">
                            {{#if messageError}}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                                <h5><i class="icon fas fa-ban"></i> Información</h5>
                                {{messageError}}
                            </div>
                            {{/if}}
                            {{#if messageSuccess}}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                                <h5><i class="icon fas fa-info"></i> Información</h5>
                                {{messageSuccess}}
                            </div>
                            {{/if}}
                        </div>

                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>Realizar verificación</h2>
                                <br>
                                <ul class="header-dropdown dropdown">

                                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a>
                                    </li>
                                    {{!-- <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true" aria-expanded="false"></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another Action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li> --}}
                                </ul>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover dataTable js-exportable">
                                        <thead>
                                            <tr>
                                                <th>Icc</th>
                                                <th>DN</th>
                                                <th>Estatus</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Icc</th>
                                                <th>DN</th>
                                                <th>Estatus</th>

                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each iccs}}
                                            <tr>
                                                <td>{{ICC}}</td>
                                                <td>{{DN}}</td>
                                                <td>{{ICCStatus}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.content-wrapper -->


    <!-- /.modal -->

    <div class="modal fade" id="modal-activas">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Verificación de líneas activas</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" action="excel-verification-activos" id="activas" method="POST"
                        onsubmit="prueba()">
                        {{!-- <form enctype="" action="excel-test" method="POST"> --}}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputFile">Archivo de líneas activas</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="file" id="fileActivas">
                                        {{!-- <input type="file" class="custom-file-input" id="fileActivas" name="file" required>
                                        <label class="custom-file-label" for="fileActivas">Elija el archivo</label> --}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="columnName">Columna (letra):</label>
                                <input type="text" class="form-control" id="columnName" name="nameColumn" required onkeyup="mayus(this);"
                                    placeholder="Ingrese la letra de la columna">

                            </div>
                            <input type="text" class="form-control" name="type" value="Activo" hidden>
                        </div>
                        <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Cargar archivo</button>
                    {{!-- <button type="submit" id="btn-one" class="btn btn-primary mb-2">Cargar archivo</button> --}}
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- /.modal -->

    <div class="modal fade" id="modal-portadas">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Verificación de líneas portadas</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" action="excel-verification-portados" method="POST"
                        onsubmit="prueba()">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputFile">Archivo de líneas portadas</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="file">
                                        {{!-- <label class="custom-file-label" for="filePortadas">Seleccione el archivo</label> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="columnName">Columna (letra):</label>
                            <input type="text" class="form-control" id="columnName" name="nameColumn" required onkeyup="mayus(this);"
                                placeholder="Ingrese la letra de la columna">
                        </div>
                        <!-- /.card-body -->

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Cargar archivo</button>
                    {{!-- <button type="submit" id="btn-two" class="btn btn-primary mb-2">Cargar archivo</button> --}}
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    </div>

    <!-- Javascript -->
    <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script>

    <script src="assets/bundles/datatablescripts.bundle.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="../assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="../assets/vendor/sweetalert/sweetalert.min.js"></script><!-- SweetAlert Plugin Js -->
    <script src="assets/bundles/mainscripts.bundle.js"></script>
    <script src="assets/js/pages/tables/jquery-datatable.js"></script>


    <script>
        document.getElementById('loader').style.display = 'none';
        document.getElementById('mensaje').style.display = 'none';
        document.getElementById('fondo').style.display = 'none';
        prueba = () => {
            console.log('deeria aparecer el loader')
            document.getElementById('loader').style.display = 'block';
            document.getElementById('mensaje').style.display = 'block';
            document.getElementById('fondo').style.display = 'block';
            $('#modal-activas').modal('hide');
            $('#modal-portadas').modal('hide');
        }

        $('#btn-one').click(function () {
            $('#btn-one').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Procesando por favor espere…').prop("disabled", true);
            document.getElementById("activas").submit()
            // document.forms["activas"].submit();
        });
    </script>

    <script>
        $('#btn-two').click(function () {
            $('#btn-two').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Procesando por favor espere…').prop("disabled", true);
        });
    </script>

    <script>
    function mayus(e) {
    e.value = e.value.toUpperCase();
}
    </script>

    {{!-- <script type="text/javascript">
        $(document).on("click", ".open-delete-wholesaler", function () {
            const wholesalerId = $(this).data('id');
            $(".modal-body #deleteWholesalerId").val(wholesalerId);
        });
    </script>

<script type="text/javascript">
    $(document).on("click", ".open-edit-wholesaler", function () {
        const wholesalerId = $(this).data('id');
        const nameWholesalerId = $(this).data('name');
        const lastnameWholesalerId = $(this).data('lastname');
        const emailWholesalerId = $(this).data('email');
        $(".modal-body #nameMayoristaEdit").val(nameWholesalerId);
        $(".modal-body #lastnameMayoristaEdit").val(lastnameWholesalerId);
        $(".modal-body #emailMayoristaEdit").val(emailWholesalerId);
        $(".modal-body #idMayoristaEdit").val(wholesalerId);
    });
</script> --}}

</body>

</html>