.rtl{
    direction: rtl;
    text-align: right;
    .float-right{
        float: left !important;
    }
    .float-left{
        float: right !important;
    }
    .text-right{
        text-align: left !important;
    }
    .text-left{
        text-align: right !important;
    }   

    #left-sidebar{
        right: 0px;
        left: auto;
        @include max-screen($break-large) {
            right: - 250px;
        }
    }   

    #main-content{
        float: left;
    }
    .top-navbar{
        left: 0;
        right: auto;
        #navbar-search{
            margin-right: 0;
            margin-left: 20px;
            .btn{
                left: 15px;
                right: auto;
            }
        }
        .navbar-btn{
            float: right;
            @extend .p-l-15;
            @extend .m-l-15;
            @extend .p-r-0;
            @extend .m-r-0;
            border-left: 1px solid $white;
            border-right: 0;
        }
    }
    .metismenu{
        >li{
            i{
                margin-right: 0;
                margin-left: 10px;
            }
        }
        ul{
            a{
                padding: 6px 38px 6px 15px;
                &::before{
                    right: 5px;
                    left: auto;
                }
            }
        }
        .has-arrow{
            &:after{
                right: auto;
                left: 1em;
            }
        }
    }
    .themesetting{
        border-left: 0;
        border-right: 2px solid;
        text-align: right;
        left: -300px;
        right: auto;
        &.open{
            left: 0;
        }
        .theme_btn{
            border-radius: 0 $border-radius-small $border-radius-small 0; 
            right: -35px;
            left: auto;
        }
    }
    .rightbar{
        left: -550px;
        right: auto;
        &.open{
            left: 0;
        }
    }
    .search_div{
        left: -600px;
        right: auto;
        border-left: 0;
        border-right: 1px solid $line-color;
        &.open{
            left: 0;
            right: auto;
        }
    }
    #left-sidebar .navbar-brand span{
        margin-left: 0;
        margin-right: 10px;
    }
    &.offcanvas-active{
        #left-sidebar{
            right: 0;
        }
    }    
    &.h-menu #left-sidebar .navbar-brand{
        float: right;
    }
}

.rtl{
    .ml-2{
        margin-left: 0 !important;
        margin-right: 0.5rem !important;
    }
    .mr-2{
        margin-right: 0 !important;
        margin-left: 0.5rem !important;
    }
    .pr-2{
        padding-right: 0 !important;
        padding-left: 0.5rem !important;
    }
    .ml-3{
        margin-left: 0 !important;
        margin-right: 1rem !important;
    }
    .mr-3{
        margin-right: 0 !important;
        margin-left: 1rem !important;
    }
    .ml-4{
        margin-right: 1.5rem !important;
        margin-left: 0 !important;
    }
    .mr-4{
        margin-left: 1.5rem !important;
        margin-right: 0 !important;
    }
    .mr-5{
        margin-left: 3rem !important;
        margin-right: 0 !important;
    }
    .m-r-10{
        margin-right: 0;
        margin-left: 10px;
    }
    .m-r-20{
        margin-right: 0;
        margin-left: 20px;
    }
    .border-right{
        border-left: 1px solid;
        border-right: 0 !important; 
    }

    .block-header {
        .breadcrumb{
            margin-right: 0;
            margin-left: 25px;
            .breadcrumb-item+.breadcrumb-item {
                padding-right: .5rem;
                padding-left: 0;
                &:before{
                    padding-right: 0;
                    padding-left: .5rem;
                }
            }
        }
    }
    .input-group{
        .input-group-append{
            margin-left: 0;
            margin-right: -1px;
        }
        .input-group-prepend{
            margin-left: -1px;
            margin-right: 0;
            >.input-group-text{
                @include border-radius(0 .25rem .25rem 0);
            }
        }
    }
    .input-group>.form-control:not(:first-child){
        @include border-radius(.25rem 0 0 .25rem);
    }

    .input-group>.custom-select:not(:last-child),
    .input-group>.form-control:not(:last-child){
        @include border-radius(0 .25rem .25rem 0);
    }
    .input-group>.input-group-append>.btn{
        @include border-radius(.25rem 0 0 .25rem);
    }
}

.rtl{
    .list-group,
    .list-unstyled,
    .nav{
        padding-right: 0;
    }
    .fancy-radio{
        input[type="radio"]+span i{
            margin-right: 0;
            margin-left: 5px;
            &:after{
                right: 3px;
                left: auto;
            }
        }        
    }
    .fancy-checkbox{
        margin-left: 10px;
        margin-right: 0;
        input[type="checkbox"]+span:before{
            margin-left: 10px;
            margin-right: 0;
        }
    }
    .navbar-nav{
        .dropdown-menu{
            right: 0;
            left: auto;
            text-align: right;
        }
    }
    .card{
        .header{
            .header-dropdown{
                right: auto;
                left: 0;
                li .dropdown-menu{
                    left: 0 !important;
                    right: auto;
                }
            }
        }
    }
    .timeline{
        .timeline-item{
            padding-left: 0;
            padding-right: 40px;
        }
        .timeline-marker{
            right: 0;
            left: auto;
        }
        &.timeline-centered{
            .timeline-marker{
                left: 50%;
                right: auto;
                margin-left: -30px;
            }
        }
    }
    .c3,
    .knob{
        direction: ltr !important;
    }
    .todo_list li .todo-delete{
        right: auto;
        left: 0;
    }
    .mail-inbox{
        .mail-left{
            .mail-side .nav li a{
                i{
                    text-align: right;
                }
                .badge{
                    margin-right: auto;
                    margin-left: inherit;
                }
            }
        }
        .mail-right .mail-list ul li{
            &.unread::before{
                left: auto;
                right: 0;
            }
            .md-left,
            .md-right{
                float: right;
            }
            .md-left{
                .mail-star{
                    right: 30px;
                }
            }
            .md-right{
                padding-right: 0;
                padding-left: 70px;
                img{
                    float: right;
                    left: inherit;
                }
                span.time{
                    right: auto;
                    left: 0;
                }
                p{
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }        
    }
    .right_chat .media{
        .avtar-pic{
            margin-left: 10px;
            margin-right: 0;
        }
        .status{
            right: 23px;
            left: 0;
        }
    }
    .testimonials p i {
        margin-right: 0;
        margin-left: 10px;
    }
    .wizard{
        .actions{
            text-align: left;
        }
    }
    .feeds_widget li{
        .feeds-left{
            margin-left: 15px;
            margin-right: 0;
        }
    }
    .dataTables_wrapper{
        .dt-buttons{
            float: right;
        }
        .dataTables_filter{
            text-align: left;
            .form-control{
                margin-left: 0;
                margin-right: 10px;
            }
        }
    }
    .auth-main{
        .form-auth-small .element-left{
            float: right;
        }
    }
}

.rtl{
    .icon-container{
        text-align: right;
        float: right;
        .icon-name{
            margin-left: 0;
            margin-right: 35px; 
        }
    }
}